:root {
    --color1: rgb(160,122,115);
    --color2: rgb(229,174,115);
    --color3: rgb(197,133,89);
    --color4: rgb(90,60,51);
    --color5: rgb(210,195,189);
    --color6: rgb(60,60,60);


}

html {
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    outline: none;
}

body {
    background-color: var(--color5);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    font-weight: 900;
    text-align: center;
    color: var(--color4);
}

h2 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    color: var(--color4);
}

h3 {
    font-size: 1.8em;
    font-weight: 900;
    text-align: center;
    color: var(--color4);
}

#newsletter-heading {
    font-size: 1.9em;
    font-weight: 700;
    color: black;
}


/* TOP BAR format the bar on top of the page */
#top-bar {
    height: 60px;
    background-color: var(--color4);
}


#promo-bar {
    width: 60%;
    height: 80px;
    margin: auto;
    background-color: var(--color1);
    border-bottom-left-radius: 42%;
    border-bottom-right-radius: 42%;
    padding: 10px;
    color: var(--color2);
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
}


header {
        overflow: auto;
        padding: .5rem 2rem;
        max-width: 880px;
        margin: auto;
    }


/* LOGO STYLING */
#header-img {
width: 20rem;
max-width: 40%;
margin-top: 40px;
float: left;
}

#nav-bar {
    float: right;
}
li {
    list-style: none;
    margin-top: 60px;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: var(--color4)
}

a:hover, a:active {
    text-decoration: none;
    color: var(--color3);
}

#wtf-icon {
color: red;
}

#order-icon {
    color: blue;
}

#faq-icon {
    color: purple;
}

#contact-icon {
    color: green;
}

#video-box {
    text-align: center;
    margin: 50px 0 30px 0;
}

#main-content {
    margin: auto;
    max-width: 1020px;
}

p {
    font-size: 1.7em;
}


#image-slider {

    text-align: center;
}

.mySlides {
    width: 100%;
    height: auto;
    margin: auto;
}


footer {
    background-color: var(--color1);
    padding: 20px;

}


.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "footertop1 footertop2"
        "footerbottom footerbottom";
    gap: 10px 15px;
    place-items: start center;
    place-content: start start;
}

.footer-item-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
}

.footer-item-2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 33px 0px 10px 0px;
}

.footer-item-3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 60px 10px 10px 10px;
}

#paypal-icon, #mastercard-icon, #visa-icon, #applepay-icon, #amazonpay-icon {
    color: var(--color4);
    padding: 0px 20px 25px 0px;
}

#payment-group {
    text-align: center;
}

.form-field {
    margin: 0px auto 10px auto;
    width: 21em;
    height: 2.3em;
    padding: 5px 16px 5px 16px;
    border-radius: 12px;
    border: none;
    background-color: var(--color5);
    font-size: 1.1em;
    outline: none;
}

.form-field:focus {
    background-color: var(--color2);
} 

::placeholder {
    color: var(--color6);
}

#submit {
    width: 12em;
    height: 2.3em;
    border: none;
    border-radius: 12px;
    background-color: var(--color5);
    font-weight: 900;
    font-size: 1.1em;
    outline: none;
}

#submit:hover, #submit:active {
    background-color: var(--color2);
}

#newsletter {
    text-align: center;
}


#pricing {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: baseline;
    flex-wrap: wrap;
}

#pricing > div {
    background-color: var(--color1);
    border-radius: 6px;
    box-shadow: 0 6px 6px var(--color4), 0 3px 5px var(--color4);
    margin: .7em;
    min-width: 350px;
}

#pricing > div:hover, #pricing > div:active {
    box-shadow: 0 8px 14px var(--color4), 0 8px 8px var(--color4);
}

#pricing1 {
    flex: 1 5 3em;
    order: 1;
}

#pricing2 {
    flex: 1 3 3em;
    order: 3;
}

#pricing3 {
    flex: 1 4 3em;
    order: 2;
}

.pricing-top-bar {
    background-color: var(--color4);
    height: 80px;
    position: relative;
    top: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px 0 0 0;
}

.price-heading {
    font-size: 2.3em;
    text-align: center;
    color: white;
    font-weight: 900;
    letter-spacing: .08em;
    margin: 8px auto;
}


.pricing-content {
    padding: .8em 1.8em;
}

.pricing-button {
    display: block;
    margin: -10px auto 5px auto;
    padding: 14px;
    font-size: 1.4em;
    background-color: var(--color4);
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    color: white;
}

#pricing > * p {
    margin: 0;
    padding: 0;
    }

/* Pricing Grid */
.pricing-grid {
    display: grid;
    grid-template-columns: 80px 2fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "Icon Text"
    "Icon Text"
    "Icon Text"
    "Icon Text"
    "Icon Text";
    place-items: start center;
    place-content: start start;
    gap: 30px 10px;
    margin-top: 15px;
    place-items: center start;
}

.pricing-icon-1-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.pricing-icon-1-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.pricing-icon-1-3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.pricing-content-1-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.pricing-content-1-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.pricing-content-1-3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.pricing-grid > * [class^="fa"] {
    color: var(--color5);
}

.pricing-button:hover, .pricing-button:active {
    transform: scale(1.1);
    cursor: pointer;
}


/* Mobile Navigation */
/* LOGO STYLING */
@media (max-width: 1024px) {
    header {
        overflow: auto;
        padding: 0;
    }
    #header-img {
    width: 100vw;
    max-width: 100%;
    margin: 0px auto -20px auto;
    float: none;
    }
    #nav-bar {
        float: none;
    }
    ul {
        margin: 0;
        padding: 0;
        border-top: 2px solid var(--color1);
        border-bottom: 2px solid var(--color1);
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 30px 0px 20px 0px;
        padding: 0 3% 0 3%;
        border-right: 2px solid var(--color1);
        font-size: 1.7em;
    }
    li:last-child {
        border: none;
    }
    #promo-bar {
        font-size: 1.2em;
    }
    .footer-grid {
        display: block;
    }
    .footer-item-1 {
        margin: auto;
    }
    #payment-group {
        padding: 30px 0;
        margin: auto;
        max-width: 55%
    }
    .footer-item-3 {
        padding: 0;
        text-align: center;
        font-size: 1.3em;
        opacity: 0.6;
    }
}

@media (max-width: 768px) {
    #pricing {
        flex-wrap: wrap;
    }
}

@media only screen and (max-device-width: 768px) {
    .form-field {
        padding: 30px;
        width: 90%;
        height: 90px;
        margin-bottom: 30px;
        border-radius: 20px;
        font-size: 3em;
    }
    #submit {
        width: 70%;
        height: 80px;
        font-size: 2em;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    #paypal-icon, #mastercard-icon, #visa-icon, #applepay-icon, #amazonpay-icon {
        font-size: 120px;
}
#newsletter-heading {
    font-size: 4em;
}
#pricing {
    flex-wrap: wrap;
}
#pricing > div {
    min-width: 500px;
    margin: 0px 10px 50px 10px;
}
}